{% extends 'base.html' %}
{% load static %}

{% block main %}

<body itemscope>
    <main>
    

        

        <section>
            <div class="block">
				<div class="fixed-bg" style="background-image: url('{% static "assets/images/topbg.jpg" %}');"></div>
                <div class="page-title-wrapper text-center">
					<div class="col-md-12 col-sm-12 col-lg-12">
						<div class="page-title-inner">
							<h1 itemprop="headline">Search Your Favourite Food</h1>
							<form class="restaurant-search-form brd-rd2" action="{% url 'search_by_food_results' %}" method="get">
                                <div class="row mrg10">
                                    <div class="col-md-3 col-sm-5 col-lg-9">
										<div class="input-field brd-rd2"><input class="brd-rd2" name="search_by_food" type="text" placeholder="Enter Food Name"></div>
									</div>
                                    <div class="col-md-2 col-sm-3 col-lg-3 col-xs-12">
                                       <button class="brd-rd2 red-bg" type="submit">SEARCH</button>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
                </div>
            </div>
        </section>

        <div class="bread-crumbs-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}" title="" itemprop="url">Home</a></li>
                    <li class="breadcrumb-item active">Food Details</li>
                </ol>
            </div>
        </div>

        <section>
            <div class="block gray-bg bottom-padd210 top-padd30">
                
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                            <div class="sec-box">
    							<div class="sec-wrapper">
    								<div class="col-md-8 col-sm-12 col-lg-8">
    									<div class="restaurant-detail-wrapper">
    										<div class="restaurant-detail-info">
    											<div class="restaurant-detail-thumb">
    												<ul class="restaurant-detail-img-carousel">
    													<li><img class="brd-rd3" src="{{ food_detail.r_name.r_image.url }}" alt="restaurant-detail-big-img1-1.jpg" itemprop="image"></li>
    												</ul>
    											
    										    </div>
    											<div class="restaurant-detail-title">
    												<h1 itemprop="headline">{{food_detail.r_name}}</h1>
    												<div class="info-meta">
    													<span>{{food_detail.r_name.address}}</span>
    													<span><a href="#" title="" itemprop="url">{{ food_detail.f_type }}</a></span>
    												</div>
    												<div class="rating-wrapper">
    													<a class="gradient-brd brd-rd2" href="#" title="" itemprop="url"><i class="fa fa-star"></i> Rate <i>4.0</i></a>
    													<div class="rate-share brd-rd5">
    														<div class="rating-box-wrapper">
    															<span>Rate</span>
    															<div class="rating-box">
    																<span class="brd-rd2 clr1 on"></span>
    																<span class="brd-rd2 clr2 on"></span>
    																<span class="brd-rd2 clr3 on"></span>
    																<span class="brd-rd2 clr4 on"></span>
    																<span class="brd-rd2 clr5 on"></span>
    																<span class="brd-rd2 clr6 on"></span>
    																<span class="brd-rd2 clr7 off"></span>
    																<span class="brd-rd2 clr8 off"></span>
    																<i>5.0</i>
    															</div>
    														</div>
    														<div class="share-wrapper">
    															<div class="fb-share">
    																<label class="switch">
    																	<input type="checkbox">
    																	<span class="switch-slider brd-rd30"></span>
    																</label>
    																<a class="facebook brd-rd2" href="#" title="" itemprop="url"><i class="fa fa-facebook-square"></i> Share on Facebook</a>
    															</div>
    															<div class="fb-share">
    																<label class="switch">
    																	<input type="checkbox">
    																	<span class="switch-slider brd-rd30"></span>
    																</label>
    																<a class="twitter brd-rd2" href="#" title="" itemprop="url"><i class="fa fa-twitter"></i> Share on Twitter</a>
    															</div>
    														</div>
    													</div>
    												</div><br>
													<span  class="price">{{ food_detail.food_name }}</span><br>
    												<span  class="price">${{ food_detail.food_price }}</span>
    												<p itemprop="description">{{ food_detail.food_description }}</p>
    												
    												<a class="brd-rd3" href="{% url 'cart_add' food_detail.pk %}" title="" itemprop="url">Order Now</a>
    											</div>
    										</div>
    									</div>
    								</div>
    								<div class="col-md-4 col-sm-12 col-lg-4">
    									<div class="order-wrapper">
    										<div class="order-inner gradient-brd">
    											<h4 itemprop="headline">Your Order</h4>
    											<div class="order-list-wrapper">
							
    												<ul class="order-list-inner">
														{% for key,value in request.session.cart.items %}
    													<li>
    														<div class="dish-name">
																
    															 <h6 itemprop="headline">{{value.name}}</h6> <span class="price">${{value.price}} </span>
																 
																 
																 
																 {{value.quantity}}  <br><br>
																 <h6 style="margin-top: 15px;" itemprop="headline">Total</h6> <p style="margin-left: 175px;">${% widthratio value.price 1 value.quantity %}</p> 
																
																</div>
															
																	<h5 >Quantity :<a style="font-size: 30px; margin: 20px; " href="{% url 'item_increment' value.product_id %}"> &#x2B;</a> \  <a style="font-size: 30px; margin: 20px;" href="{% url 'item_decrement' value.product_id %}">&#8722;</a></h5>
																


																
																
																
																<div class="dish-ingredients">
																	<a href="{% url 'our_menu' %}">Add Item</a>
    														</div>
    													</li>
														{% endfor %}
    													
														<a href="{% url 'cart_clear' %}">Clear Cart</a>
    												</ul>
													
    												<ul class="order-total">
    													
    													
    												</ul>
												   
    												<ul class="order-method brd-rd2 red-bg">
    													<li><span>Total</span> <span class="price">${{ cart_total_amount }}</span></li>
    													<li><span class="radio-box"><input type="radio" name="method" id="pay1-1"><label for="pay1-1"><i class="fa fa-money"></i> Cash</label></span> <span class="radio-box"><input type="radio" name="method" id="pay1-2"><label for="pay1-2"><i class="fa fa-credit-card-alt"></i> Card</label></span></li>
    													<li><a class="brd-rd2" href="{% url 'customer_detail' %}" title="" itemprop="url">CONFIRM ORDER</a></li>
    												</ul>
													
    											</div>
    										</div>
    									</div>
    								</div>
    							</div>
                            </div>
                        </div>
                    </div>
                </div><!-- Section Box -->
            </div>
        </section>



{% endblock main %}